body {
  font-family: Arial, sans-serif;
}

.upload-form {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.upload-container {
  text-align: center;
}

.upload-container h3 {
  text-align: left;
  margin-bottom: 10px;
  color: #0A0A0A; /* Dark color for the title */
}

.upload-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  justify-items: center;
}

.upload-item {
  position: relative;
  width: 100px;
  height: 100px;
  border: 2px solid #ccc;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.upload-label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: #f5f5f5;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.upload-label:hover {
  background-color: #e0e0e0;
}

.upload-icon {
  width: 30px;
  height: 30px;
 /* background-image: url('path/to/your/icon.png'); */ /* Replace with your icon path */
  background-size: contain;
  background-repeat: no-repeat;
}

.note {
  margin-top: 10px;
  color: #606060;
  font-size: 0.9em;
}
/* individual-ad.css */
/* individual-ad.css */
.container {
    max-width: 800px;
    margin: auto;
    font-family: Arial, sans-serif;
    background-color: #F5F5F5;
    padding: 20px;
    border-radius: 8px;
}

h1, h3 {
    color: #FF7300;
}

.card {
    margin-bottom: 20px;
    border: none;
}
.adNameImagesDiv {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.card-header {
    background-color: #FF7300;
    color: #FFF;
    font-weight: bold;
}

.card-body {
    background-color: #FFF;
}
.carousel {
  width: 50%;
 
}
.carousel img {
    max-height: 300px;
    object-fit: cover;
    border-radius: 8px;
}

.list-group-item {
    background-color: #FFF;
    border: none;
    color: #333;
}

.alert {
    font-size: 1.1em;
    background-color: #FFF;
    border: 1px solid #FF7300;
    color: #333;
}

button {
    background-color: #FF7300;
    border: none;
    color: #FFF;
    padding: 10px 20px;
    font-size: 1.1em;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #E56200;
}
